
.container {
    height: 100vh;
    
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: column;
  }
  
  .item {
    overflow: scroll;
  
    -webkit-flex: 1;
    flex: 1;
  }
  